@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}

:root {
  --primary: gold;
  --secondary: indigo;
  --primary-light: rgb(255, 232, 103);
  --secondary-light: rgb(104, 0, 179);
}

html {
  font-size: 100%;
}

body {
  background-color: rgb(255, 255, 255);
}
