@import url(/css/common.css);
@import url(/css/component_css/drawer.css);
@import url(/css/component_css/alert.css);
@import url(/css/component_css/avatar.css);
@import url(/css/component_css/badge.css);
@import url(/css/component_css/button.css);
@import url(/css/component_css/card.css);
@import url(/css/component_css/image.css);
@import url(/css/component_css/input.css);
@import url(/css/component_css/modal.css);
@import url(/css/component_css/text-utilities.css);
@import url(/css/component_css/header.css);
@import url(/css/component_css/snackbar.css);


.logo-img-responsive{
    width: 100%;
    height: auto;
}
.logo{
    width: 100%;
    height: 113px;
    cursor: pointer;
}
.logo-div{
    width: 100%;
    height: 113px;
    cursor: pointer;
}

.doc-para{
    font-weight: 500;
}

.svg-logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.component-container{
    border: 2px solid var(--secondary);
    padding: 1rem;
    border-radius: 4px;
    margin: 1rem 0;
}

.container-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container-relative{
    position: relative;
}

.container-column{
    flex-direction: row;
}

.img-container{
    width: 50%;
    height: 50%;
}

.divider-line{
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 1rem 0 1.5rem 0;
}

.txt-high{
    color: var(--secondary);
    font-weight: bold;
}

/* .code-wrapper{
    width: 100%;
    word-wrap: break-word;
} */

.hljs {
    display: block;
    background: white;
    padding: 0.5em;
    color: #333333;
    overflow-x: auto;
    height: auto;
}