@import url(/css/common.css);
@import url(/css/component_css/drawer.css);
@import url(/css/component_css/alert.css);
@import url(/css/component_css/avatar.css);
@import url(/css/component_css/badge.css);
@import url(/css/component_css/button.css);



.component-container{
    border: 2px solid var(--secondary);
    padding: 1rem;
    border-radius: 4px;
    margin: 1rem 0;
}

.container-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.divider-line{
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 1rem 0 1.5rem 0;
}

.txt-high{
    color: var(--secondary);
    font-weight: bold;
}

.code-wrapper{
    width: 100%;
    word-wrap: break-word;
}


