@import url(./common.css);

.navbar-landing{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.5rem;
    padding: 1.5rem;
}


.img-responsive{
    width: 100%;
    height: auto;
}

.logo{
    width: 18%;
    height: 150px;
    cursor: pointer;
}

.nav-ul{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: 15%;
    justify-content: space-evenly;
    align-items: center;
}

.main{
    width: 100%;
    max-width: 1310px;
    margin: 1rem auto;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.introduction{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: large;
    margin-right: 25%;
}
.doc-para{
    font-weight: 500;
}

.btn{
    display: inline-block;
    padding: 1rem;
    border: none;
    font-size: large;
    font-weight: bold;
    border-radius: 6px;
    background-color: var(--primary);
    color: var(--secondary);
    margin-top: 1rem;
}