<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7389171962.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/component.css">
    <!-- <link rel="stylesheet" href="./css/landing.css"> -->
    <title>VITE-UI</title>
</head>
<body>
    <div class="drawer">
        <header class="drawer-header">
            <a href="/index.html">
                <img src="/images/vite-light2.png" alt="" class="logo img-responsive">
            </a>
        </header>
        <hr/>
        <nav class="navbar">
                <a class="nav-items" href="#">
                    Installation
                </a>
                <a class="nav-items" href="#">
                    Alert
                </a>
                <a class="nav-items" href="#">
                    Avatar
                </a>
                <a class="nav-items" href="#">
                    Badges
                </a>
                <a class="nav-items" href="#">
                    Button
                </a>
                <a class="nav-items" href="#">
                    Cards
                </a>
                <a class="nav-items" href="#">
                    Chips
                </a>
                <a class="nav-items" href="#">
                    Dialog
                </a>
                <a class="nav-items" href="#">
                   Drawer
                </a>
                <a class="nav-items" href="#">
                   Header
                </a>
                <a class="nav-items" href="#">
                    Image
                </a>
                <a class="nav-items" href="#">
                    Input
                </a>
                <a class="nav-items" href="#">
                    List
                </a>
                <a class="nav-items" href="#">
                    Snackbar
                </a>
                <a class="nav-items" href="#">
                    Tabs
                </a>
                <a class="nav-items" href="#">
                    Text-Utilities
                </a>
        </nav>
    </div>
</body>
</html>