<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7389171962.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/component.css">
    <script src="/js/badge.js" defer></script>
    <title>VITE-UI</title>
</head>

<body>
    <div class="drawer">
        <header class="drawer-header">
            <a href="/index.html">
                <img src="/images/vite-light2.png" alt="" class="logo img-responsive">
            </a>
        </header>
        <hr />
        <nav class="navbar">
            <a class="nav-items" href="#">
                Installation
            </a>
            <a class="nav-items" href="#alert">
                Alert
            </a>
            <a class="nav-items" href="#avatar">
                Avatar
            </a>
            <a class="nav-items" href="#">
                Badges
            </a>
            <a class="nav-items" href="#">
                Button
            </a>
            <a class="nav-items" href="#">
                Cards
            </a>
            <a class="nav-items" href="#">
                Chips
            </a>
            <a class="nav-items" href="#">
                Dialog
            </a>
            <a class="nav-items" href="#">
                Drawer
            </a>
            <a class="nav-items" href="#">
                Header
            </a>
            <a class="nav-items" href="#">
                Image
            </a>
            <a class="nav-items" href="#">
                Input
            </a>
            <a class="nav-items" href="#">
                List
            </a>
            <a class="nav-items" href="#">
                Snackbar
            </a>
            <a class="nav-items" href="#">
                Tabs
            </a>
            <a class="nav-items" href="#">
                Text-Utilities
            </a>
        </nav>
    </div>
    <div class="documentation">
        <div id="alert">
            <h1>Alert</h1>
            <p class="doc-para">Alerts are used to display important message to the user's whether its Warning, Success,
                Error or just a simple notification.</p>
            <div class="divider-line"></div>
            <h2>Example</h2>
            <p class="doc-para">To use this alerts use class name as <b>alert</b> followed by alert <b>variant</b> name
                (e.g:<span class="txt-high">class="alert alert-sucess"</span>)</p>
            <div class="component-container">
                <div class="alert">this is standard alert</div>
                <div class="alert alert-success">
                    <i class="fas fa-check-circle icon"></i>
                    this is success alert
                </div>
                <div class="alert alert-failure">
                    <i class="fas fa-exclamation-circle icon"></i>
                    this is failure alert
                </div>
                <div class="alert alert-warning">
                    <i class="fas fa-exclamation-triangle icon"></i>
                    this is warning alert
                </div>
            </div>
            <div class="code-wrapper">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmohammadkhizerkhan%2Fvite-ui%2Fblob%2FAlert%2Fcomponents%2Fdocs.html%23L83-92&style=github-gist&showBorder=on&showCopy=on&fetchFromJsDelivr=on"></script>
            </div>
        </div>
        <div id="avatar">
            <h1>Avatar</h1>
            <p class="doc-para">
                Avatar is used display profile picture which show's the identity of the user's, They usually displayed in round shape. 
            </p>
            <div class="divider-line"></div>
            <h2>Examples</h2>
            <h3>Avatar with images:</h3>
            <p class="doc-para">Some avatars have their images, So to use this avatar use class name as <span class="txt-high">avatar</span> followed by <span class="txt-high">avatar-size</span> name (e.g: <span class="txt-high">class="avatar avatar-large"</span>). Also in <span class="txt-high">img</span> tag use class name as <span class="txt-high">img-avatar</span></p>
            <div class="container-row component-container">
                <div class="avatar avatar-large">
                    <img src="https://static.displate.com/280x392/displate/2021-09-02/d96e54cf51afb04ae931e03fbd1103d3_6557ad2c6861b4a296782fd87e44b25b.jpg" class="img-avatar" alt="">
                </div>
                <div class="avatar avatar-medium">
                    <img src="https://static.displate.com/280x392/displate/2021-09-02/d96e54cf51afb04ae931e03fbd1103d3_6557ad2c6861b4a296782fd87e44b25b.jpg" class="img-avatar" alt="">
                </div>
                <div class="avatar avatar-small">
                    <img src="https://static.displate.com/280x392/displate/2021-09-02/d96e54cf51afb04ae931e03fbd1103d3_6557ad2c6861b4a296782fd87e44b25b.jpg" class="img-avatar" alt="">
                </div>
            </div>
            <div class="code-wrapper">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmohammadkhizerkhan%2Fvite-ui%2Fblob%2Favatar%2Fcomponents%2Fdocs.html%23L111-119&style=github-gist&showBorder=on&showCopy=on&fetchFromJsDelivr=on"></script>
            </div>
            <h3>Avatar with Text:</h3>
            <p class="doc-para">Some avatars only have letter text according to the user name, So to use this avatar use class name as <span class="txt-high">avatar</span> followed by <span class="txt-high">avatar-size</span> name (e.g: <span class="txt-high">class="avatar-large"</span>) followed by <span class="txt-high">avatar-text</span>. For e.g(<span class="txt-high">class="avatar avatar-large avatar-text"</span>).</p>
            <div class="container-row component-container">
                <div class="avatar avatar-large avatar-text">
                    KK
                </div>
                <div class="avatar avatar-medium avatar-text">
                    KK
                </div>
                <div class="avatar avatar-small avatar-text">
                    KK
                </div>
            </div>
            <div class="code-wrapper">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmohammadkhizerkhan%2Fvite-ui%2Fblob%2Fbadges%2Fcomponents%2Fdocs.html%23L127-135&style=github-gist&showBorder=on&showCopy=on&fetchFromJsDelivr=on"></script>
            </div>
            <h3>Square avatar:</h3>
            <p class="doc-para">To use this square avatar for <span class="txt-high">avatar image variant</span> add class name as <span class="txt-high">img-avatar-square</span> to <span class="txt-high">img</span> tag, And for the <span class="txt-high">avatar text variant</span> add class name as <span class="txt-high">avatar-square</span> to <span class="txt-high">div</span> tag of avatar.</p>
            <div class="container-row component-container">
                <div class="avatar avatar-large">
                    <img src="https://static.displate.com/280x392/displate/2021-09-02/d96e54cf51afb04ae931e03fbd1103d3_6557ad2c6861b4a296782fd87e44b25b.jpg" class="img-avatar img-avatar-square" alt="">
                </div>
                <div class="avatar avatar-large avatar-text avatar-square">
                    KK
                </div>
            </div>
            <div class="code-wrapper">
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fmohammadkhizerkhan%2Fvite-ui%2Fblob%2Fbadges%2Fcomponents%2Fdocs.html%23L143-148&style=github-gist&showBorder=on&showCopy=on&fetchFromJsDelivr=on"></script>
            </div>
        </div>
        <div id="badges">
            <h1>Badges</h1>
            <p class="doc-para">
            </p>
            <div class="divider-line"></div>
            <div class="container-row component-container">

                <div class="badge-container">
                    <p>Lorem ipsum dolor sit ametsdfsadf.</p>
                    <div class="badge badge-right badge-large"><span>5</span></div>
                </div>
         
                <div class="badge-container">
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <div class="badge badge-small badge-left"><span>5</span></div>
                </div>
          
                <div class="badge-container">
                    <button class="btn-badge">click</button>
                    <div class="badge badge-small badge-right"><span>5</span></div>
                </div>
            
                <div class="badge-container">
                    <button class="btn-badge btn-hide">hide</button>
                    <div class="badge-h badge-small badge-right"><span>5</span></div>
                </div>
           
                <div class="badge-container">
                    <i class="fas fa-shopping-cart fa-2x"></i>
                    <div class="badge badge-large badge-right"><span>+99</span></div>
                </div>
                
                <div class="avatar-img-container">
                    <img src="https://cdnb.artstation.com/p/assets/images/images/041/704/869/large/manuel-armando-gochez-paiz-itachi-uchiha-1.jpg?1632435433" alt="image" class="avatar avatar-large">
                    <div class="badge badge-large badge-bottom badge-border badge-offline"></div>
                </div>
                <div class="avatar-img-container">
                    <img src="https://cdnb.artstation.com/p/assets/images/images/041/704/869/large/manuel-armando-gochez-paiz-itachi-uchiha-1.jpg?1632435433" alt="image" class="avatar avatar-large">
                    <div class="badge badge-large badge-bottom badge-border badge-online"></div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>