*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

.alert{
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(179 179 179);
    color: rgb(89 89 89);
    font-size: 1.3rem;
    border-radius: 4px;

}

.icon{
    margin-right: 5px;
}

.alert-success{
    background-color: rgb(189 255 186);
    color: rgb(32 131 32)
}
.alert-failure{
    background-color: rgb(255 207 207);
    color: rgb(241 0 0);
}
.alert-warning{
    background-color: rgb(253 227 190);
    color: rgb(255 144 0)
}