.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 340px;
    background-color: white;
    border-radius: 5px;
    margin: 5px 5px;
    border: 1px solid var(--secondary);
    position: relative;
  }

  .card-shadow{
    box-shadow: 5px 6px 15px 2px #888888;
  }

  .card-img-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 9rem;
  }
  
  .card-img{
    width: 100%;
    height: 11.25rem;
    object-fit: cover;
    border: none;
  }

  .card-horz-img{
    width: 50%;
    height: inherit;
    object-fit: cover;
  }

  .card-txt-ovr{
    position: relative;
    height: 11.25rem;
  }

  .card-img-bd{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .card-body{
    padding: 1rem 1rem 0 1rem;
  }
  
  .card-body:hover{
    background-color:rgb(231, 231, 231); 
  }
  
  .card-header{
    text-transform: capitalize;
  }
  
  .card-header h5{
    margin: 0.5rem 0;
    color: rgb(121, 121, 121);
    font-size: 1em;
  }

  .card-header-absolute{
    padding: 1rem 1rem 0 1rem;
    position: absolute;
    color: white;
    top: 5.15rem;
  }

  .card-header .clr-white{
    color: white;
  }


  /* card-footer-div */
  .card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    /* margin-top: 0.5rem; */
    padding: 0.3rem;
    height: 4.5rem;
  }
  
  /* card-buttons */
  .card-btn{
    padding: 8px;
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
  }

  .card-btn:hover{
      background-color: hsla(261, 42%, 44%, 0.1);
  }
  

  /* footer-icons-div */
  .card-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .card-icons{
      margin-left: auto;
      width: 35%;;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  /* footer-icons */
  .card-foot-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--secondary);
  }

  .card-foot-icon:hover{
    background-color: rgba(255, 232, 103,0.8);
    color: var(--secondary);
}
  
.card-badge{
  background-color: transparent;
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  margin: 5px 5px 0 0;
  color: var(--secondary);
  z-index: 1;
}

.card-badge:hover{
  color: var(--primary);
}