*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root{
    --primary:gold;
    --secondary:indigo;
    --primary-light:rgb(255,235,122);
}

html{
    font-size: 100%;
}

body{
    height: 200vh;
}



.drawer{
    /* background-color: rgb(219, 219, 219); */
    background-color: white;
    padding: 1.5rem 0.5rem 0 0.5rem;
    top: 0;
    left: 0;
    max-width: 350px;
    border-right: 2px solid black;
    position: fixed;
    height: 100%;
    transition: 0.3s;
}

.drawer-inactive{
    left: -225px;
}
.drawer-active{
    left: 0;
    z-index: 2;
}

.drawer-header{
    font-weight: bolder;
    font-size: 1.5rem;
    margin: 5px;
}

.drawer-modal-body{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}


.img-responsive{
    width: 100%;
    height: auto;
}
.logo{
    width: 100%;
    height: 113px;
    cursor: pointer;
}

.title{
    font-weight: 800;
}

.sub-header{
    margin-top: 8px;
    font-size: 1.1rem;
    font-weight: 400;
    color: grey;
}

.navbar{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 88%;
}

.nav-items{
    color: var(--secondary);
    font-size: large;
    font-weight: bold;
    padding: 1rem;
    margin: 5px 0;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.nav-items:hover{
    background-color: var(--primary-light);
    color: var(--secondary);
}

.nav-items-active{
    background-color: var(--primary) ;
    color: var(--secondary);
}

.icons{
    margin-right: 2rem;
}

.top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary);
    height: fit-content;
    width: 100%;
    padding: 0.8rem;
    position: absolute;
    left: 0;
    z-index: 0;
}

.top-bar-aside{
    left: 207px;
}

.top-bar-title{
    margin-left: 1.5rem;
}

.btn{
    background-color: transparent;
    border: none;
    padding: 7px;
    border-radius: 50%;
}

.btn:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}