.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  color: rgb(0, 0, 0);
  padding: 0.5rem;
  justify-content: space-between;
  background-color: var(--primary);
  color: var(--secondary);
}

.header-dense {
  padding: 0;
}

.header-fix {
  position: fixed;
}

.header-short {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: auto;
  padding: 0.5rem;
  background-color: blueviolet;
  border-bottom-right-radius: 3rem;
  position: fixed;
}

.head-section {
  display: flex;
  flex: 1, 1, auto;
  margin-right: 0.3rem;
}

.head-right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.head-left-section {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}

.head-section-prominent {
  height: 120px;
}
.head-section-prominent-dense {
  height: 100px;
}

.head-left-section-prominent {
  align-self: flex-start;
}

.head-title {
  margin-left: 1rem;
}

.head-title-prominent {
  align-self: flex-end;
}

.head-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0.1rem 0.5rem;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  padding: 1.5rem;
}

.head-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.head-icon-prominent {
  align-self: flex-start;
}
