
.img-responsive{ 
    width: 100%;
    height: auto;
    object-fit: cover;
}
.size-200{
    width: 200px;
    height: 200px;
    margin: 10px;
}

.img-square{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-round{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

