.slider-container {
  display: flex;
  align-items: center;
  width: 200px;
  flex-direction: column;
}

.slider-label {
  width: 100%;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  margin: 5px;
  font-size: 1rem;
}

.slider {
  width: 100%;
  height: 2rem;
}
